<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
       <bean class="quoter.RunThisMethodPostProcessor"/>
       <bean id="getDown" class="java.lang.String">
              <constructor-arg index="0" value="Get Down!"></constructor-arg>
       </bean>

       <bean id="terminator" class="quoter.TerminatorQuoter">
              <property name="quotes">
                     <list value-type="java.lang.String">
                            <value>I'll be back</value>
                            <value>Asta-la-visa baby</value>
                            <ref bean="getDown"></ref>
                     </list>
              </property>
       </bean>
       <bean id="shakespear" class="quoter.ShakeSpearQuoter">
              <property name="quote" value="to be or not to be"/>
       </bean>

       <bean id="talkingRobot" class="quoter.TalkingRobotImpl">
              <property name="quoters">
                     <list value-type="quoter.Quoter">
                            <ref bean="terminator"></ref>
                            <ref bean="shakespear"></ref>
                     </list>
              </property>
       </bean>
</beans>